.shop_top{float:left;width:100%;margin:10px auto;border:1px solid #ccc;}
.shop_left{float:left;width:49%;margin:1%;}
.shop_left img{width:100%;}
.shop_right{float:left;width:45%;font-size:24px;height:100%;}
.shop_right table{margin:auto;}
/*无缝滚动*/
.shop_boot img{width:200px;}
.boot { float:left;width: 100%; height: 120px; margin: 20px auto; position: relative; }
.boot .shop_boot { width: 100%; height: 120px; margin: 0 auto; position: relative; overflow: hidden; }
.boot ul { position: absolute; top: 0; left: 0; }
.boot li { float: left; width: 200px; height: 120px; text-align: center; }
.boot li a:hover { position: relative; top: 2px;}
.boot li a img:hover{position:fixed;width:70%;z-index:999;top:0;left:15%;}
.dian {font-size:24px;margin-top:15px;}
@media screen and (max-width:950px){
	.content{width:100%;}
	.shop_left{width:100%;}
	.shop_right{width:100%;font-size:18px;text-align:center;}
	.boot li a img:bover{position:fixed;width:100%;z-index:999;top:10%;}
}