@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: Yang;
    src:url('../font/博洋楷体7000.ttf'); /* IE9 */
}
*{margin:0;padding:0;}
body{margin:0;padding:0;font-family:'微软雅黑';}
.foot ul li{ list-style:none;float:left;height:102px;display:block;width:20%;margin:5px 0;text-align:center;}
h2{font-size:36px;font-weight:normal;color:#ccc;font-family:'微软雅黑';}
a { transition:all 0.3s ease-out; -webkit-transition:all 0.5s ease-out; text-decoration:none; blr:expression(this.onFocus=this.blur());color:#000;}
a { outline:none;}
a:hover {color:blue;text-decoration:none;}
ol, ul{ list-style: none outside none;}
.all{width:100%;margin:80px auto;}
.top{margin:10px auto;text-align:center;}
.all .foot{width:80%;margin:10px auto;}
#div1{ min-width:950px;width:1000px; height:400px; position:relative; overflow:hidden;margin:0 auto 20px;}
#div1 ul{ position:absolute; left:0;}
#div1 ul li{ float:left;}
#div1 ul li img{ position:relative; left:0;width:100%;}

#btn{ position:absolute; width:100%; text-align:center; bottom:0;}
#btn a{ cursor:pointer; display:inline-block; width: 15px; height: 15px; background: #999; border-radius: 15px; margin: 5px;}
#btn a.active { background:white;} 
#btn a:hover{ background:white;}
#sj_menu{display:none;}
.sj_xian{display:none;}
@font-face{
	font-family: Sweet;
    src:url('../font/博洋草书3500.ttf'); /* IE9 */
}
@media screen and (max-width:950px){
	p{font-size:24px;}
	.all{width:100%;margin:0 auto;}
	.foot{display:none;}
	#sj_menu{display:block;width:100%;height:60px;background:#5f8a31;position: fixed;left: 0;bottom: 0;z-index: 500;}
	#sj_menu li{position:relative;width:16.5%;float:left;text-align:center;line-height:60px;font-size:34px;color:#fff;font-family:'微软雅黑';}
	#sj_menu li a{color:#111;text-align:center;line-height: 60px;font-size:34px;}
	#sj_menu li a:hover{width:100%;height:60px;display:block;background:#fff;}
	h3{color:#111;font-size:24px;font-weight:bolder;}
	.sj_xian{display:block;padding:6px;background:#fff;width:100%;}
	.shou{float:left;margin:0 auto;}
	.shouyi{float:left;width:30%;height:10%;margin:1%;}
	.shouyi img{width:100%;}
	#div1{height:300px;}
}